* {
	box-sizing: border-box;
	&:before, &:after {
		box-sizing: border-box;
	}
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block
}
html {
	font-size: 62.5%
}
html, body {
	height: 100%;
	padding: 0;
}
body {
	margin: 0;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
.text-center {
	text-align: center;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	color: #222;
}

h1 {
	font-size: 2em
}
