
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham/Gotham-LightItalic.eot');
	src: local('Gotham Light Italic'), local('Gotham-LightItalic'),
	url('../fonts/gotham/Gotham-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham/Gotham-LightItalic.woff2') format('woff2'),
	url('../fonts/gotham/Gotham-LightItalic.woff') format('woff'),
	url('../fonts/gotham/Gotham-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham/Gotham-BoldItalic.eot');
	src: local('Gotham Bold Italic'), local('Gotham-BoldItalic'),
	url('../fonts/gotham/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham/Gotham-BoldItalic.woff2') format('woff2'),
	url('../fonts/gotham/Gotham-BoldItalic.woff') format('woff'),
	url('../fonts/gotham/Gotham-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham/Gotham-XLight.eot');
	src: local('Gotham ExtraLight'), local('Gotham-XLight'),
	url('../fonts/gotham/Gotham-XLight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham/Gotham-XLight.woff2') format('woff2'),
	url('../fonts/gotham/Gotham-XLight.woff') format('woff'),
	url('../fonts/gotham/Gotham-XLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham/Gotham-Thin.eot');
	src: local('Gotham Thin'), local('Gotham-Thin'),
	url('../fonts/gotham/Gotham-Thin.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham/Gotham-Thin.woff2') format('woff2'),
	url('../fonts/gotham/Gotham-Thin.woff') format('woff'),
	url('../fonts/gotham/Gotham-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham/Gotham-Book.eot');
	src: local('Gotham Book'), local('Gotham-Book'),
	url('../fonts/gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham/Gotham-Book.woff2') format('woff2'),
	url('../fonts/gotham/Gotham-Book.woff') format('woff'),
	url('../fonts/gotham/Gotham-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham/Gotham-ThinItalic.eot');
	src: local('Gotham Thin Italic'), local('Gotham-ThinItalic'),
	url('../fonts/gotham/Gotham-ThinItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham/Gotham-ThinItalic.woff2') format('woff2'),
	url('../fonts/gotham/Gotham-ThinItalic.woff') format('woff'),
	url('../fonts/gotham/Gotham-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham/Gotham-MediumItalic.eot');
	src: local('Gotham Medium Italic'), local('Gotham-MediumItalic'),
	url('../fonts/gotham/Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham/Gotham-MediumItalic.woff2') format('woff2'),
	url('../fonts/gotham/Gotham-MediumItalic.woff') format('woff'),
	url('../fonts/gotham/Gotham-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Ultra';
	src: url('../fonts/gotham/Gotham-UltraItalic.eot');
	src: local('Gotham Ultra Italic'), local('Gotham-UltraItalic'),
	url('../fonts/gotham/Gotham-UltraItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham/Gotham-UltraItalic.woff2') format('woff2'),
	url('../fonts/gotham/Gotham-UltraItalic.woff') format('woff'),
	url('../fonts/gotham/Gotham-UltraItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham/Gotham-BookItalic.eot');
	src: local('Gotham Book Italic'), local('Gotham-BookItalic'),
	url('../fonts/gotham/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham/Gotham-BookItalic.woff2') format('woff2'),
	url('../fonts/gotham/Gotham-BookItalic.woff') format('woff'),
	url('../fonts/gotham/Gotham-BookItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham/Gotham-BlackItalic.eot');
	src: local('Gotham Black Italic'), local('Gotham-BlackItalic'),
	url('../fonts/gotham/Gotham-BlackItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham/Gotham-BlackItalic.woff2') format('woff2'),
	url('../fonts/gotham/Gotham-BlackItalic.woff') format('woff'),
	url('../fonts/gotham/Gotham-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham/Gotham-Light.eot');
	src: local('Gotham Light'), local('Gotham-Light'),
	url('../fonts/gotham/Gotham-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham/Gotham-Light.woff2') format('woff2'),
	url('../fonts/gotham/Gotham-Light.woff') format('woff'),
	url('../fonts/gotham/Gotham-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham/Gotham-Bold.eot');
	src: local('Gotham Bold'), local('Gotham-Bold'),
	url('../fonts/gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham/Gotham-Bold.woff2') format('woff2'),
	url('../fonts/gotham/Gotham-Bold.woff') format('woff'),
	url('../fonts/gotham/Gotham-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham/Gotham-Medium.eot');
	src: local('Gotham Medium'), local('Gotham-Medium'),
	url('../fonts/gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham/Gotham-Medium.woff2') format('woff2'),
	url('../fonts/gotham/Gotham-Medium.woff') format('woff'),
	url('../fonts/gotham/Gotham-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Ultra';
	src: url('../fonts/gotham/Gotham-Ultra.eot');
	src: local('Gotham Ultra'), local('Gotham-Ultra'),
	url('../fonts/gotham/Gotham-Ultra.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham/Gotham-Ultra.woff2') format('woff2'),
	url('../fonts/gotham/Gotham-Ultra.woff') format('woff'),
	url('../fonts/gotham/Gotham-Ultra.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham/Gotham-XLightItalic.eot');
	src: local('Gotham ExtraLight Italic'), local('Gotham-XLightItalic'),
	url('../fonts/gotham/Gotham-XLightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham/Gotham-XLightItalic.woff2') format('woff2'),
	url('../fonts/gotham/Gotham-XLightItalic.woff') format('woff'),
	url('../fonts/gotham/Gotham-XLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham/Gotham-Black.eot');
	src: local('Gotham Black'), local('Gotham-Black'),
	url('../fonts/gotham/Gotham-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham/Gotham-Black.woff2') format('woff2'),
	url('../fonts/gotham/Gotham-Black.woff') format('woff'),
	url('../fonts/gotham/Gotham-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}



@font-face {
	font-family: Entypo;
	src: url("../fonts/entypo.eot");
	src: url("../fonts/entypod41d.eot?#iefix") format("embedded-opentype"), url("fonts/entypo.woff#") format("woff"), url("fonts/entypo.ttf#") format("truetype"), url("fonts/entypo.svg#Entypo") format("svg");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Entypo Social;
	src: url("../fonts/entypo-social.eot");
	src: url("../fonts/entypo-sociald41d.eot?#iefix") format("embedded-opentype"), url("fonts/entypo-social.woff#") format("woff"), url("fonts/entypo-social.ttf#") format("truetype"), url("fonts/entypo-social.svg#Entypo Social") format("svg");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Social Icons;
	src: url("../fonts/icons-social.eot");
	src: url("../fonts/icons-sociald41d.eot?#iefix") format("embedded-opentype"), url("fonts/icons-social.woff#") format("woff"), url("fonts/icons-social.ttf#") format("truetype"), url("fonts/icons-social.svg#Social Icons") format("svg");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: MapQuestIcons;
	src: url("../fonts/mapquest-icons.html");
	src: url("../fonts/mapquest-iconsd41d.html?#iefix") format("embedded-opentype"), url("fonts/mapquest-icons-2.html#") format("woff"), url("fonts/mapquest-icons-3.html#") format("truetype"), url("fonts/mapquest-icons-4.html#MapQuestIcons") format("svg");
	font-weight: 400;
	font-style: normal
}

body {
	font-family: 'Gotham', sans-serif;
	font-size: 1.4em;
	line-height: 1.75em;
	color: #3a3b3a;
	font-weight: 400
}

@media only screen and (min-width:1024px) {
	body {
		font-size: 1.6em
	}
}

.h1,
h1 {
	font-size: 1.8em;
	line-height: 1.2;
	font-weight: 500;
	margin: 0 0 .25em;
	letter-spacing: -1px
}

@media only screen and (min-width:768px) and (max-width:1023px) {

	.h1,
	h1 {
		font-size: 2em
	}
}

@media only screen and (min-width:1024px) {

	.h1,
	h1 {
		font-size: 2.75em
	}
}

@media only screen and (min-width:1200px) {

	.h1,
	h1 {
		font-size: 3.25em
	}
}

@media only screen and (min-width:1400px) {

	.h1,
	h1 {
		font-size: 3.25em
	}
}

.h2,
h2 {
	font-size: 2em;
	line-height: 1.15em;
	font-weight: 500;
	margin: 0 0 .5em;
	letter-spacing: -2px
}

@media only screen and (min-width:768px) and (max-width:1023px) {

	.h2,
	h2 {
		font-size: 2.5em
	}
}

@media only screen and (min-width:1024px) {

	.h2,
	h2 {
		font-size: 2.75em
	}
}

@media only screen and (min-width:1200px) {

	.h2,
	h2 {
		font-size: 3em
	}
}

.h3,
h3 {
	font-size: 1.6em;
	margin: 1.5em 0 .5em;
}

.h3,
.h4,
h3,
h4 {
	line-height: 1.5em;
	font-weight: 500
}

.h4,
h4 {
	font-size: 1.25em;
	margin: 0 0 .25em;
	text-transform: uppercase;
}

h1 span,
h2 span,
h3 span,
h4 span {
	border-bottom: .125em solid #54b0cb;
	padding-bottom: .05em;
	-webkit-transition: border-color .4s cubic-bezier(.165, .84, .44, 1);
	transition: border-color .4s cubic-bezier(.165, .84, .44, 1)
}

h1.super span,
h2.super span,
h3.super span,
h4.super span {
	border-bottom-color: #3a3b3a !important
}

.p,
ol,
p,
ul {
	font-size: inherit;
	line-height: inherit;
	margin: 0 0 1em;
	color: inherit
}

.p.large,
ol.large,
p.large,
ul.large {
	font-size: 1.15em;
	line-height: 1.675em;
}

.p.small,
ol.small,
p.small,
ul.small {
	font-size: .875em;
}

.p b,
ol b,
p b,
ul b {
	font-weight: 700
}

ol,
ul {
	padding-left: 1.25em
}

ol.no-style,
ul.no-style {
	padding-left: 0;
	list-style: none
}

a {
	color: inherit;
	text-decoration: none
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}

