$border: #e9e9eb;
$backgroundSilverBlock: #f1f1f1;
$main-accent-color: #54b0cb;
$main-accent-color-hover: #448fa6;
$color-white: white;
$color-title-white: white;
$footer-background-color: #3a3b3a;
$footer-text-color: #b2b2b2;
$colorBlack: rgb(58, 59, 58);
$colorBlack2: #3a3b3a;
$back-silver: #404041;
$color-silver-title: #858585;
$color-silver-careers-benefits: #8f8f8f;
$color-border-job: #f2f2f2;